/* Begin style sheet */
header {
    background-color: rgb(255, 215, 0); 
    color: #4169e1;
    font-size: 60px; /*first absolute unit*/
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    padding-left: 1cm;
    padding-right: 1cm;
    text-decoration: wavy;
} 
body {
<<<<<<< HEAD
<<<<<<< HEAD
    display: inline;
    background-color: hsl(161, 75%, 83%);
    color: orange;
    padding: auto; 
    text-align: center; 
    position: static;
=======
=======
>>>>>>> parent of b6ff0bf (Finished all bullets in lab just have to debug now)
    display: blcok;
    background-color: hsl(161, 75%, 83%);
    color: orange;
    padding: auto;
    text-align: center;
<<<<<<< HEAD
>>>>>>> parent of b6ff0bf (Finished all bullets in lab just have to debug now)
=======
>>>>>>> parent of b6ff0bf (Finished all bullets in lab just have to debug now)
}
h1 {
    display: inline;
    color: red;
    margin-left: 40px;
    font-size: 20pt; /* second abs unit*/
    padding: .5cm;
    /* height: 50px; */
    width: 50%;


}
<<<<<<< HEAD
<<<<<<< HEAD
@media (hover: hover) {
    h1:hover {
        background-color: blueviolet;
    }
  }

=======
>>>>>>> parent of b6ff0bf (Finished all bullets in lab just have to debug now)
=======
>>>>>>> parent of b6ff0bf (Finished all bullets in lab just have to debug now)
h2 {
    color: red;
    margin-left: 40px;
    font-size: 1cm; /* third abs unit*/
    max-width: 100px;
    
}
h3 {
    font-size: 2em; /* relative 2 */
    min-width: 75%;
}
.myDiv {
    width: 90%; /*relative 1*/
    margin-left: 40px;
    font-size: 1cm; /* third abs unit*/
}
section {
    font-size: 2ex; /*third relative*/

}

#goat {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
#topG {
    margin: 1cm;
}

ul,ol {
    margin: auto;
  }
  #goat {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
main form {
    border-style: solid;
    border-color: purple ;
    border-width: thick;
    border-radius: 10px;
}
p.qs {
    background-color: green;
}
h1 + h2 {
    font-weight: bold;
  }
ol ~ p {
    color: red;
  }
div > p {
    background-color: yellow;
  }
  * {
    font-style: normal;
  }
h2[id] {
    background-color: antiquewhite;
}
button:hover {
    color: blue;
  }
