/* Begin style sheet */
header {
    background-color: rgb(255, 215, 0); 
    color: #4169e1;
    font-size: 60px; /*first absolute unit*/
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    padding-left: 1cm;
    padding-right: 1cm;
}
body {
    background-color: hsl(161, 58%, 50%);
    color: orange;
    padding: auto;
}
h1 {
    color: red;
    margin-left: 40px;
    font-size: 20pt; /* second abs unit*/
    padding: .5cm;
    
}
h2 {
    color: red;
    margin-left: 40px;
    font-size: 1cm; /* third abs unit*/
    
}
h3 {
    font-size: 2em /* relative 2 */
}
.myDiv {
    width: 90%; /*relative 1*/
    margin-left: 40px;
    font-size: 1cm; /* third abs unit*/
}
section {
    font-size: 2ex; /*third relative*/

}
#goat {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
#topG {
    margin: 1cm;
}
ul {
    margin: auto;
  }
  #goat {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
form {
    border-style: solid;
}